/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family:"YS";
  src: local('YS'), url("./assets/fonts/YS.ttf") format('truetype');
}

body {
  margin: 0;
  padding: 0;
}
